<form class="form" style="margin-left: 0px">
  <span class="formText vhod projectName"> Deli-Very Kebab </span>
</form>

<div class='adressItem nav' style="text-align: right; width: auto;">

  <button id='' class='courier-style' type='button'>Профиль К</button>
  <button id='' class='add-style' type='button'>Добавить доставку</button>
  <button id='logOut' class='logout-style' type='button'>Выйти</button>

</div>

<div class="productsListing">
  <div class="mainBuyers">

    <div class="products">
      <div class="product-image">
        <div class='vhod' style="margin-bottom: 20px;">Добавлено: </div>
        <img src="../src/images/" alt="" />
      </div>
      <div class="info" style="justify-content: flex-start; line-height: 2; margin-top: 100px;">
        <div class="product-name">Название:</div>
        <div class="product-price">Цена:</div>
        <div class="product-discount">Цена со скидкой:</div>
        <div class="product-time">Ваш адрес:</div>
        <div><button class='formButton' style="font-size: 14px; font-weight:900;">Удалить</button></div>
      </div>

      <div class="order" style="display: flex; flex-direction: column;">
        <div class="maps" style="display: flex; margin-left: 110px;">

          <div class="map">
            <div class='vhod' style="margin-bottom: 20px;">Заказ принят:</div>
            <img src="../src/images/map.jpeg" alt="" />
          </div>
          <div class="info" style="justify-content: center; line-height: 2; margin-top: 70px;">
            <div class="product-name">Имя покупателя:</div>
            <div class="product-price">Адрес:</div>
            <div class="product-discount">Номер телефона:</div>
          </div>
        </div>
      </div>
    </div>
    <div class="products">
      <div class="product-image">
        <div class='vhod' style="margin-bottom: 20px;">Добавлено: </div>
        <img src="../src/images/" alt="" />
      </div>
      <div class="info" style="justify-content: center; line-height: 2; margin-top: 70px;">
        <div class="product-name">Название:</div>
        <div class="product-price">Цена:</div>
        <div class="product-discount">Цена со скидкой:</div>
        <div class="product-time">Ваш адрес:</div>
        <div><button class='formButton' style="font-size: 14px; font-weight:900;">Удалить</button></div>
      </div>

      <div class="maps" style="display: flex; margin-left: 110px;">

        <div class="map">
          <div class='vhod' style="margin-bottom: 20px;">Заказ принят:</div>
          <img src="../src/images/map.jpeg" alt="" />
        </div>
        <div class="info" style="justify-content: center; line-height: 2; margin-top: 70px;">
          <div class="product-name">Имя покупателя:</div>
          <div class="product-price">Адрес:</div>
          <div class="product-discount">Номер телефона:</div>
        </div>
      </div>
    </div>
    <div class="products">
      <div class="product-image">
        <div class='vhod' style="margin-bottom: 20px;">Добавлено: </div>
        <img src="../src/images/" alt="" />
      </div>
      <div class="info" style="justify-content: center; line-height: 2; margin-top: 70px;">
        <div class="product-name">Название:</div>
        <div class="product-price">Цена:</div>
        <div class="product-discount">Цена со скидкой:</div>
        <div class="product-time">Ваш адрес:</div>
        <div><button class='formButton' style="font-size: 14px; font-weight:900;">Удалить</button></div>
      </div>

      <div class="maps" style="display: flex; margin-left: 110px;">

        <div class="map">
          <div class='vhod' style="margin-bottom: 20px;">Заказ принят:</div>
          <img src="../src/images/map.jpeg" alt="" />
        </div>
        <div class="info" style="justify-content: center; line-height: 2; margin-top: 70px;">
          <div class="product-name">Имя покупателя:</div>
          <div class="product-price">Адрес:</div>
          <div class="product-discount">Номер телефона:</div>
        </div>
      </div>
    </div>

  </div>
</div>
