<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel='stylesheet' href='/css/style.css' />
    <script src='/js/scripts.js' defer></script>
    <script src='/js/index.js' defer></script>
    <script src='/js/product.js' defer></script>
    <script src='/js/cabinet.js' defer></script>
    <script src='/js/listing_maps.js' defer></script>
    <script
      src='https://api-maps.yandex.ru/2.1/?apikey=f2f1deba-77d2-454f-a337-f5381fd15fd0&lang=ru_RU'
      type='text/javascript'
    ></script>
    <script src='/js/yandex.js' defer></script>
    <title>{{title}}</title>
  </head>
  <body style='background-color: #ffcf31'>
    <div id='inner'>
      {{{body}}}
    </div>
  </body>
</html>
