<div class='titleForm'>
  <span class='formText vhod projectName'>
    Deli-Very Kebab
  </span>

</div>
<div class='sections'>
  <div class='bg-image'>
    <img src='./src/site/kebab.jpg' alt='' />
  </div>

  <form class='form' id='login' action='/login' method='POST'>
    <span class='formText vhod'>
      Авторизация
    </span>
    <div class='formText'>
      <input type='text' name='login' placeholder='Ваше имя' required />
    </div>
    <div class='formText'>
      <input type='password' name='password' placeholder='Пароль' required />
    </div>
    <div id='out'></div>
    <div class='formText submitForm'>
      <button type='submit' class='formButton'>Логин</button>
    </div>
    <button
      type='button'
      id='formRegister'
      class='linkButton'
    >Зарегистрироваться</button>
  </form>
</div>
